body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-generic-small {
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-generic-med {
  height: 200px;
  width: 340px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.account-card-separator {
  margin-left: 10px;
  font-size: 14px;
}

.service-card-separator {
  margin-left: 10px;
  font-size: 14px;
}

.service-card-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.service-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.service-card-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}